<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.wanhive.basic.utils.licensing.SessionCounter</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.wanhive.basic.web.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyXMLDispatcher</display-name>
    <servlet-name>MyXMLDispatcher</servlet-name>
    <servlet-class>com.wanhive.basic.web.MyXMLDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyXMLDispatcher</servlet-name>
    <url-pattern>/MyXMLDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyActionDispatcher</display-name>
    <servlet-name>MyActionDispatcher</servlet-name>
    <servlet-class>com.wanhive.basic.web.MyActionDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyActionDispatcher</servlet-name>
    <url-pattern>/MyActionDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuXml</display-name>
    <servlet-name>MenuXml</servlet-name>
    <servlet-class>com.wanhive.basic.web.MenuXml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuXml</servlet-name>
    <url-pattern>/MenuXml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Favourites</display-name>
    <servlet-name>Favourites</servlet-name>
    <servlet-class>com.wanhive.basic.web.Favourites</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favourites</servlet-name>
    <url-pattern>/Favourites</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Navigator</display-name>
    <servlet-name>Navigator</servlet-name>
    <servlet-class>com.wanhive.basic.web.Navigator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Navigator</servlet-name>
    <url-pattern>/Navigator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpPage</display-name>
    <servlet-name>HelpPage</servlet-name>
    <servlet-class>com.wanhive.basic.web.HelpPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpPage</servlet-name>
    <url-pattern>/HelpPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssemblyAction</display-name>
    <servlet-name>AssemblyAction</servlet-name>
    <servlet-class>com.wanhive.system.action.AssemblyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssemblyAction</servlet-name>
    <url-pattern>/AssemblyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillAction</display-name>
    <servlet-name>BillAction</servlet-name>
    <servlet-class>com.wanhive.system.action.BillAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillAction</servlet-name>
    <url-pattern>/BillAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostBookAction</display-name>
    <servlet-name>CostBookAction</servlet-name>
    <servlet-class>com.wanhive.system.action.CostBookAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostBookAction</servlet-name>
    <url-pattern>/CostBookAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaterialAction</display-name>
    <servlet-name>MaterialAction</servlet-name>
    <servlet-class>com.wanhive.system.action.MaterialAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialAction</servlet-name>
    <url-pattern>/MaterialAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveAction</display-name>
    <servlet-name>MoveAction</servlet-name>
    <servlet-class>com.wanhive.system.action.MoveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveAction</servlet-name>
    <url-pattern>/MoveAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectAction</display-name>
    <servlet-name>ProjectAction</servlet-name>
    <servlet-class>com.wanhive.system.action.ProjectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectAction</servlet-name>
    <url-pattern>/ProjectAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReferenceAction</display-name>
    <servlet-name>ReferenceAction</servlet-name>
    <servlet-class>com.wanhive.system.action.ReferenceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReferenceAction</servlet-name>
    <url-pattern>/ReferenceAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFAction</display-name>
    <servlet-name>PDFAction</servlet-name>
    <servlet-class>com.wanhive.system.action.report.PDFAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFAction</servlet-name>
    <url-pattern>/PDFAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAction</display-name>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>com.wanhive.system.action.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/AdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlProjectAction</display-name>
    <servlet-name>ControlProjectAction</servlet-name>
    <servlet-class>com.wanhive.system.action.ControlProjectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlProjectAction</servlet-name>
    <url-pattern>/ControlProjectAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilityAction</display-name>
    <servlet-name>UtilityAction</servlet-name>
    <servlet-class>com.wanhive.system.action.UtilityAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilityAction</servlet-name>
    <url-pattern>/UtilityAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlBillAction</display-name>
    <servlet-name>ControlBillAction</servlet-name>
    <servlet-class>com.wanhive.system.action.ControlBillAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlBillAction</servlet-name>
    <url-pattern>/ControlBillAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactAction</display-name>
    <servlet-name>ContactAction</servlet-name>
    <servlet-class>com.wanhive.system.action.ContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactAction</servlet-name>
    <url-pattern>/ContactAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleExcelAction</display-name>
    <servlet-name>SimpleExcelAction</servlet-name>
    <servlet-class>com.wanhive.system.action.report.SimpleExcelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleExcelAction</servlet-name>
    <url-pattern>/SimpleExcelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleHtmlReportAction</display-name>
    <servlet-name>SimpleHtmlReportAction</servlet-name>
    <servlet-class>com.wanhive.system.action.report.SimpleHtmlReportAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleHtmlReportAction</servlet-name>
    <url-pattern>/SimpleHtmlReportAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentAction</display-name>
    <servlet-name>DocumentAction</servlet-name>
    <servlet-class>com.wanhive.system.action.DocumentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentAction</servlet-name>
    <url-pattern>/DocumentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Initialize Application Params</description>
    <display-name>AppInit</display-name>
    <servlet-name>AppInit</servlet-name>
    <servlet-class>com.wanhive.basic.web.AppInit</servlet-class>
    <init-param>
      <description>basic initialization</description>
      <param-name>app-init-env</param-name>
      <param-value>WEB-INF/classes/app.lcf</param-value>
    </init-param>
    <init-param>
      <description>Database Setup</description>
      <param-name>app-db-schema</param-name>
      <param-value>WEB-INF/classes/schema</param-value>
    </init-param>
    <init-param>
      <description>Database Setup</description>
      <param-name>app-db-data</param-name>
      <param-value>WEB-INF/classes/data</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppInit</servlet-name>
    <url-pattern>/AppInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Configure</display-name>
    <servlet-name>Configure</servlet-name>
    <servlet-class>com.wanhive.basic.web.Configure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Configure</servlet-name>
    <url-pattern>/Configure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenderAction</display-name>
    <servlet-name>TenderAction</servlet-name>
    <servlet-class>com.wanhive.system.action.TenderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenderAction</servlet-name>
    <url-pattern>/TenderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidAction</display-name>
    <servlet-name>BidAction</servlet-name>
    <servlet-class>com.wanhive.system.action.BidAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidAction</servlet-name>
    <url-pattern>/BidAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AccessControlFilter</display-name>
    <filter-name>AccessControlFilter</filter-name>
    <filter-class>com.wanhive.basic.web.AccessControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <url-pattern>/AccessControlFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>AdminAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>AssemblyAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>BidAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>BillAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>ContactAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>ControlBillAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>ControlProjectAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>CostBookAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>DocumentAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>MaterialAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>MoveAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>PDFAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>ProjectAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>ReferenceAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>SimpleExcelAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>SimpleHtmlReportAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>TenderAction</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <servlet-name>UtilityAction</servlet-name>
  </filter-mapping>
</web-app>